{
    "useTabs": true,
    "tabWidth": 4,
    "endOfLine": "lf",
    "semi": true,
    "singleQuote": true,
    "bracketSameLine": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.twig",
            "options": {
                "parser": "twig"
            }
        }
    ],
    "plugins": [
        "@zackad/prettier-plugin-twig",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindStylesheet": "web/assets/styles/app.css"
}