:root{
    --erlich-default:#822C2A;  /* Hauptrot */
    --erlich-light:#A13A35; /* Hoverrot*/
    --erlich-pale:#E6E6E6; /* Hellgrau */
    --erlich-white:#F2F2F2;/* leicht getöntes Weiß */
    --erlich-black:#000000;/* Standardtext */
    --erlich-accent:#B08C6B; /* Kupfer-Gold Akzent */
    --erlich-accent-hover:#C7A481;/* Hover für Akzent */
}
/* Add font */
body{
    color: var(--erlich-black);
    padding: 0;
    margin: 0;
}

/* TODO: add medie querry breake points for container */
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.isHuman{
    display: none;
}

