/* @font-face {
  font-family: 'FarAwayGalaxy';
  src: url('/fonts/FarAwayGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
h1 {
    font-size: larger;
    font-weight: bold;
}

h2 {
    font-size: large;
    font-weight: bold;
}

h3 {
    font-size: medium;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

del {
    color: red;
}